
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ZA:wght@100..400&display=swap');
.info-detail-propiedades{
    width:100%;
    font-size:20px;
    border-bottom:2px solid white;
    font-family: "Playwrite ZA";
}
.img{
    width:400px;
    height:400px;
}