
 form input{
    border:none;
    outline: 0px;
    border-bottom: 1px solid black;
}
.container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px
}
form button{
    padding:5px;
    margin:10px;
    width:25%;
    height:5vh;
    background-color:#235393;
    border-radius: 8px;
}